#Site settings
name: Cromarty's Online Projects
title: Cromarty at github
tagline: Code, ideas, projects, reference, comments
baseurl: ''
url: "https://cromarty.github.io/"

# Build settings
markdown: kramdown
markdown_ext: "kd,kdwn,kdown,kramdown,md,mdwn,mdown,mk,markdown,kk"
kramdown:
#    auto_ids: true
paginate: 4
paginate_path: '/page:num/'
permalink: /:title/

# gems
gems: [jekyll-paginate]

# includes
include: ["_drafts"]
include: ["_pages"]

# excludes
exclude: [new_post.pl, templates]

collections:

  ttsprojects:
    output: true
    permalink: /:collection/:path/ 

  rpi-image-tool:
    output: true
    permalink: /:collection/:path/


  rpi-stuff:
    output: true
    permalink: /:collection/:path/ 

  dmm:
    output: true
    permalink: /:collection/:path/ 

  nvda-treespy:
    output: true
    permalink: /:collection/:path/ 


# defaults
defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: page
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
