---
layout: default
---
<main role="main" class="cf">
<article class="posts">
 <article role="article">
        <header>
            <title>{{page.title}}</title>
        </header>
        {{content}}
    </article>
    </article>
</main>
